canvas {
  height: 300px;
  width: 800px;
}

textarea {
  width: 100%;
}

body {
  font-family: Tahoma, sans-serif;
}

img,
button,
input {
  margin: 1em;
  padding-left: 1em;
  padding-right: 1em;
}
